<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&amp;subset=greek" rel="stylesheet">

        <link rel="stylesheet" href="{{asset('css/poq.css')}}">

        <title>Public Opinion Questionnaire</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row text-center poq-header">
                <div class="col-md-offset-2 col-md-8">
                    <p>&nbsp;</p>
                    <h1>Τι Πιστεύουν οι Έλληνες</h1>
                    <h4>Το Online Ερωτηματολόγιο</h4>
                    <p>&nbsp;</p>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="row text-center">
                <div class="col-md-offset-1 col-md-10">
                    {% block footer %}
                    <div class="row">
                        <div class="col-md-2 pull-left">
                            {#<img src="{{asset('img/logo.png')}}" alt="Logo" />#}
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
{% block javascripts %}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}