{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="col-md-12 text-center">
        <h3><img src="{{asset('img/award-ribbon.jpg')}}" alt="Badge" /></h3>
        <p><b>Ευχαριστούμε που συμμετείχατε στην έρευνα.</b></p>

        <p>Οι απαντήσεις σας ταιριάζουν περισσότερο με:</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-4 text-left">
                <ul>
                    {% for dimension,values in answerStats if dimension in ['gender', 'age', 'profession', 'educationLevel', 'income', 'region'] %}
                        {% set label = values|keys|first %}
                        {% set value = (values|first).percentage %}
                        <li>{{(dimension~'.'~label~'.name')|trans}} ({{value}}%)</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <p>&nbsp;</p>
        <p><a class="btn btn-primary" href="#">Μοιραστείτε τα αποτελέσματα</a></p>
</div>
{{block('bottomcontent')}}
{% endblock %}

{% block bottomcontent %}
<div class="bottom-align-text text-center" style="width: 98%; padding-bottom: 10px;">
    <hr style="margin-top: 10px; margin-bottom: 10px;" />
    <small>Τα αναλυτικά αποτελέσματα της έρευνας είναι διαθέσιμα <a target="_blank" href="http://www.dianeosis.org/research/greek_values/">εδώ</a>.</small>
</div>
{% endblock %}