{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-offset-2 col-md-8">
        <p>&nbsp;</p>
        <h1>Καλώς ορίσατε</h1>
        <p>&nbsp;</p>
        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

        <p>&nbsp;</p>
        <p class="text-justify"><small>* η συμμετοχή στο ερωτηματολόγιο είναι ανώνυμη - η υπηρεσία δεν αποθηκεύει κανένα προσωπικό στοιχείο</small></p>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-offset-1 col-md-10">
        <hr style="margin-top: 30px; margin-bottom: 30px;" />
        <p><a href="{{path('question', {'section': sections[0].id, 'page': 1})}}" class="btn btn-poq-warning btn-circle btn-xxl">Έναρξη</a></p>
        <p><small>Αν είστε νέος χρήστης</small></p>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="row">
    <div class="col-md-2 pull-left">
        <img src="{{asset('img/logo.png')}}" alt="Logo" />
    </div>
    <div class="col-md-2 pull-right">
        <p><a id="poq-resume" class="btn btn-poq-default">Συνέχεια</a></p>
        <div id="poq-resume-wrapper" style="display: none;">
            <form class="form" action="{{path('resume', {'section': sections[0].id})}}" method="POST">
                <div class="input-group">
                    <input type="text" name="email" placeholder="E-Mail" class="form-control"/>
                    <span class="input-group-addon">
                        <input class="btn btn-default" type="submit" value="OK" />
                    </span>
                </div>
            </form>
        </div>
        <p><small>Αν έχετε αποθηκεύσει το ερωτηματολόγιο συνεχίστε εδώ</small></p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $('#poq-resume').click(function() {
            $(this).hide();
            $('#poq-resume-wrapper').show();
        });
    </script>
{% endblock %}