{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-offset-2 col-md-8 font-size-18">
        <p>&nbsp;</p>
        <p class="text-justify">Τι έχει κερδίσει η Ελλάδα από την Ευρωπαϊκή Ένωση; Ποιοι ευθύνονται για την ελληνική κρίση; Χρειαζόμαστε μεγαλύτερο ή μικρότερο κράτος;  Ποιες είναι οι μεγαλύτερες απειλές για την ελληνική δημοκρατία; Ποια είναι η άποψη σας για τη μετανάστευση, την υπηκοότητα και τα δικαιώματα των ομοφυλόφιλων; Βρίσκεται η χώρα μας σήμερα σε παρακμή;
        <p class="text-justify">Το 2015 η διαΝΕΟσις ξεκίνησε μια σειρά από έρευνες κοινής γνώμης, με στόχο να αποτυπώσει τις αξίες και τις πεποιθήσεις των Ελλήνων πολιτών. Τα αποτελέσματα του «Τι Πιστεύουν Οι Έλληνες», που θα επαναλαμβάνεται κάθε χρόνο, μπορείτε να τα διαβάζετε εδώ.</p>
        <p class="text-justify">Σε αυτό το ερωτηματολόγιο μπορείτε, απαντώντας μερικές από τις ερωτήσεις της έρευνας, να διαπιστώσετε πόσο κοντά βρίσκονται οι απόψεις σας με των υπόλοιπων Ελλήνων. Στο τέλος, ανάλογα με το πώς έχετε απαντήσει, θα προσπαθήσουμε να μαντέψουμε σε ποια κατηγορία (ηλικιακή, πληθυσμιακή κ.α.) ανήκετε.</p>
</p>

        <p>&nbsp;</p>
        <p class="text-justify"><small>* Σημείωση: <b>Η συμμετοχή στο ερωτηματολόγιο είναι ανώνυμη.</b> Η εφαρμογή δεν αποθηκεύει κανένα προσωπικό στοιχείο. Στην περίπτωση που αφήσετε το email σας για να ολοκληρώσετε το ερωτηματολόγιο αργότερα, αυτό αποθηκεύεται προσωρινά, χωρίς να συσχετίζεται με τις απαντήσεις σας.</small></p>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-offset-1 col-md-10">
        <hr style="margin-top: 30px; margin-bottom: 30px;" />
        <p><a href="{{path('question', {'section': sections[0].id, 'page': 1})}}" class="btn btn-poq-warning btn-circle btn-xxl">Έναρξη!</a></p>
        <p><small>Αν είστε νέος χρήστης</small></p>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="row">
    <div class="col-md-2 pull-left">
        {#<img src="{{asset('img/logo.png')}}" alt="Logo" />#}
    </div>
    <div class="col-md-2 pull-right">
        <p><a id="poq-resume" class="btn btn-poq-default">Συνέχεια</a></p>
        <div id="poq-resume-wrapper" style="display: none;">
            <form class="form" action="{{path('resume', {'section': sections[0].id})}}" method="POST">
                <div class="input-group">
                    <input type="text" name="email" placeholder="E-Mail" class="form-control"/>
                    <span class="input-group-addon">
                        <input class="btn btn-default" type="submit" value="OK" />
                    </span>
                </div>
            </form>
        </div>
        <p><small>Αν έχετε αποθηκεύσει το ερωτηματολόγιο, πατήστε εδώ</small></p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $('#poq-resume').click(function() {
            $(this).hide();
            $('#poq-resume-wrapper').show();
        });
    </script>
{% endblock %}