{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-12">
        <h3>Επιτυχής διακοπή</h3>
        <p>Ένα email έχει αποσταλεί στη διεύθυνση <b>{{email}}</b> με οδηγίες για τη συνέχιση του ερωτηματολογίου.</p>
    </div>
</div>
{% endblock %}