{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-12">
        <h3>Συνέχιση ερωτηματολογίου</h3>
        <p>Lorem weirwood ever vigilant amet, the wall slay, fire the last of the dragons pavilion court m'lady old bear. Ut enim manhood throne veniam, quis nostrud exercitation ullamco sandsilk poison is a woman's weapon commodo others. Tourney aute irure dolor in reprehenderit in voluptate suckling pig cillum dolore eu fugiat nulla pariatur. Blood sint occaecat cupidatat non proident, brother in culpa qui officia as high as honor est smallfolk.</p>
        <form action="{{path('resume', {'section': section.id})}}" method="GET">
            <div class="form-group">
              <label for="resume-email">Email</label>
              <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                    <input type="email" class="form-control" id="resume-email" name="email" placeholder="Email">
                  </div>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Διακοπή</button>
        </form>
    </div>
</div>
{% endblock %}