<div class="ellak-poq">
    <div class="ellak-poq-head-row">
        <div class="ellak-poq-head-text">τι πιστεύουν οι Έλληνες - μια έρευνα</div>
        <div class="ellak-poq-head-text">
        {% if page > 0 and page < questionCount %}
            {% for i in 1..page %}&#8226;{% endfor %}{% for i in (page+1)..questionCount %}&#9702;{% endfor %}
        {% elseif page >= questionCount %}
            {% for i in 1..questionCount %}&#8226;{% endfor %}
        {% else %}
            {% for i in 1..questionCount %}&#9702;{% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="ellak-poq-main-content pure-g">
        {% block ellak_poq_main_content %}{% endblock %}
    </div>
</div>
{% block ellak_poq_scripts %}{% endblock %}