{% extends 'base.html.twig' %}

{% block ellak_poq_main_content %}
<div class="pure-u-1-1">
    This is the index page<BR />
    <a href="{{add_query_arg( 'page', 1 )}}">Start questionnaire</a>
</div>
{% endblock %}