<form action="{{path('backend_import')}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Data" name="submit">
</form>