/* General theme */
html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

html {
    display: table;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.btn-primary {
    background-image: none;
    background-color: #32a4af;
    border-color: #32a4af;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #4BC5D0;
    border-color: #4BC5D0;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.poq-main {
    max-width: 1000px;
}

.ellak-poq {
    color: #fff;
    background-color: #32A4AF;
    padding: 5px;
    min-height: 500px;
}

.ellak-poq-main-content {
    background-color: #fff;
    color: #000;
    padding: 10px;
    min-height: 445px;
}

.ellak-poq-head-text {
    padding-left: 15px;
}

.btn-poq {
    padding: 20px;
    position: relative;
    color:#fff;
    background-color:#4BC5D0;
    text-align:center;
    margin-right: 40px;
    display: inline-block;
    width: 135px;
}
.btn-poq:hover, .btn-poq:focus {
    color: #fff;
}
.btn-poq:after {
    content:"";
    position: absolute;
    left: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:30px solid transparent;
    border-left:40px solid #4BC5D0;
    border-bottom:30px solid transparent;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* Home page */
@media (min-width: 768px ) {
  .row {
      position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 0;
  }
}

.poq-logo {
    margin-top: 25px;
    margin-bottom: 25px;
}

.border-l {
    border-left: 1px #000 solid;
}

/* Similar answers */
.ellak-poq-main-content.ellak-poq-answer-similar h1,
.ellak-poq-main-content .ellak-poq-answer-similar h2,
.ellak-poq-main-content .ellak-poq-answer-similar h3,
.ellak-poq-main-content .ellak-poq-answer-similar h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.ellak-poq-main-content .ellak-poq-answer-similar h2 {
    color: #3D9BA4;
    font-size: 1.4375rem;
}
.ellak-poq-main-content .ellak-poq-answer-similar h3 {
    color: #6FB1BD;
    font-size: 1rem;
}
.ellak-poq-main-content .ellak-poq-answer-similar h4 {
    font-size: 1rem;
    color: #000;
    text-transform: none;
}