/* General theme */
html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

hr {
    color: #0099A8;
    border: solid 1px #0099A8;
}

.poq-header {
    background-color: #0099A8;
    color: #fff;
}

.btn-poq-warning {
    color: #ffffff;
    background-color: #D97804;
}
.btn-poq-warning:hover {
    color: #ffffff;
}

.btn-poq-default {
    font-weight: bold;
    border: 2px solid #0099A8;
    border-radius: 0;
    padding: 5px 30px;
    color: #000;
}

/* Cirlce button - http://bootsnipp.com/snippets/featured/circle-button */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-circle.btn-xxl {
    width: 140px;
    height: 140px;
    padding: 53px 28px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 70px;
}